requests
rdflib 
rdflib-jsonld
Flask
Flask-Cache
Flask-WTF
Flask-Login
Flask-Dance
gunicorn
click
python-dateutil
pytz
passlib
bibcat
rdfframework
resync
elasticsearch
elasticsearch_dsl
bibcat_publisher
