<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>DPLA Service Hub version {{ version }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome-all.min.css') }}">
    {#<style>
        body {
            font: 1.75em "Open Sans", sans-serif; 
        }

        footer {
            font-size: .75em;
            background-color: rgb(192,192,192);
            padding: 1em;
        }
    </style>#}
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="container">
            <h2 class="bg-danger">ALERT!</h2>
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
    {% endwith %}
    {% block header %}
        {% include 'header.html' %}
    {% endblock %}
    {% block main %}
    {% endblock %}
<footer class="container footer m-1">
    Code Repository available on Github at 
    <a href="https://github.com/KnowledgeLinks/dpla-service-hub">
        https://github.com/KnowledgeLinks/dpla-service-hub
    </a>. Technology by <a href="http://knowledgelinks.io">KnowledgeLinks.io</a> 
</footer> 
<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}" ></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/typeahead.bundle.js') }}"></script>
{% block more_js %}
<script>
$(document).ready(function() {
    var workSuggest = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        remote: {
            url: "{{ url_for('catalog.auto_suggest', name='work') }}?q=%QUERY",
            wildcard: '%QUERY'
        }
    });

    $("#suggest-query .typeahead").typeahead({
        highlight: true
    },
    {
        name: 'work-access',
        display: 'label',
        id: 'id',
        source: workSuggest.ttAdapter(),
        templates: {
            empty: [
                '<div style="padding: 1em 2m">',
                'Failed to match',
                '</div>'
            ].join("\n"),
            suggestion: function(data) {
                //console.log("data html is " + data);
                return data;
            }
        }
    }).on('typeahead:select', function(obj, datum) {
            $.post({
                url: "{{ url_for('catalog.search_data') }}",
                data: datum.label
            });
    });
});
</script>
{% endblock %}
</body>
</html>
