<div class="container">
<img src="{{ url_for('static', filename='plains2peaks/img/1100x250ppclogo.jpg') }}" height="150">
</div><nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="{{ url_for('static', filename='plains2peaks/img/Capture-300x287.png') }}" width="30" height="30" >
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" 
            href="#" id="resyncDropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ResourceSync
        </a>
        <div class="dropdown-menu" aria-labelledby="resyncDropdownMenuLink">
            <a class="dropdown-item" href="{{ url_for('capability_list') }}">Capability List XML</a>
            <a class="dropdown-item" href="{{ url_for('site_index') }}">Sitemap Index XML</a>
            <a class="dropdown-item" href="{{ url_for('resource_dump') }}">ResourceDump XML</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="http://www.openarchives.org/rs/toc">ResourceSync Specification</a>

        </div>
      </li>
        <form class="form-inline my-2 my-lg-0 pull-right" action="{{ url_for('catalog.search_data') }}" method="POST">
            <input name="query" class="form-control mr-sm-4" type="search" placeholder="{% if query_phrase %}{{ query_phrase }}{% else %}Search{% endif %}" aria-label="Search">
            <button class="btn btn-outline-success {#my-2 my-sm-0#}" type="submit">Search</button>
        </form>

      <li class="nav-item dropdown pull-right">
        <a class="nav-link dropdown-toggle" href="#" id="helpDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Help 
        </a>
        <div class="dropdown-menu" aria-labelledby="helpDropdownMenuLink">
          <a class="dropdown-item" href="https://dp.la/info/developers/map/">DPLA MAP v.4</a>
          <a class="dropdown-item" href="https://github.com/KnowledgeLinks/dpla-service-hub">Github Source Code Repository</a>
        </div>
      </li>
    </ul>

  </div>
</nav>
